@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2227226');
  src: url('../font/fontello.eot?2227226#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?2227226') format('woff2'),
       url('../font/fontello.woff?2227226') format('woff'),
       url('../font/fontello.ttf?2227226') format('truetype'),
       url('../font/fontello.svg?2227226#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2227226#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-users:before { content: '\2d'; } /* '-' */
.icon-ok-circled2:before { content: '\2139'; } /* 'ℹ' */
.icon-user:before { content: '\229e'; } /* '⊞' */
.icon-th:before { content: '\229f'; } /* '⊟' */
.icon-cancel-circled2:before { content: '\2302'; } /* '⌂' */
.icon-plus-circled:before { content: '\263d'; } /* '☽' */
.icon-plus:before { content: '\26a1'; } /* '⚡' */
.icon-th-list:before { content: '\2753'; } /* '❓' */
.icon-th-large:before { content: '\2796'; } /* '➖' */
.icon-ok-circled:before { content: '\e704'; } /* '' */
.icon-cancel-circled-1:before { content: '\e705'; } /* '' */
.icon-plus-circled-1:before { content: '\e70a'; } /* '' */
.icon-picture:before { content: '\e70c'; } /* '' */
.icon-archive:before { content: '\e73c'; } /* '' */
.icon-pencil:before { content: '\e744'; } /* '' */
.icon-check:before { content: '\e746'; } /* '' */
.icon-cancel:before { content: '\e754'; } /* '' */
.icon-cancel-circled:before { content: '\e755'; } /* '' */
.icon-layout:before { content: '\e75f'; } /* '' */
.icon-menu:before { content: '\e760'; } /* '' */
.icon-code:before { content: '\e761'; } /* '' */
.icon-logout:before { content: '\e762'; } /* '' */
.icon-login:before { content: '\e763'; } /* '' */
.icon-box:before { content: '\e764'; } /* '' */
.icon-folder:before { content: '\e765'; } /* '' */
.icon-book:before { content: '\e766'; } /* '' */
.icon-quote:before { content: '\e767'; } /* '' */
.icon-up-open-big:before { content: '\e800'; } /* '' */
.icon-share:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-up-open-mini:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-left-open-mini:before { content: '\e807'; } /* '' */
.icon-down-open-mini:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */
.icon-resize-full:before { content: '\e80a'; } /* '' */
.icon-resize-small:before { content: '\e80b'; } /* '' */
.icon-database:before { content: '\e80c'; } /* '' */
.icon-drive:before { content: '\e80d'; } /* '' */
.icon-flash:before { content: '\e80e'; } /* '' */
.icon-moon:before { content: '\e80f'; } /* '' */
.icon-plus-squared:before { content: '\e810'; } /* '' */
.icon-minus:before { content: '\e811'; } /* '' */
.icon-minus-circled:before { content: '\e812'; } /* '' */
.icon-minus-squared:before { content: '\e813'; } /* '' */
.icon-help:before { content: '\e814'; } /* '' */
.icon-help-circled:before { content: '\e815'; } /* '' */
.icon-info:before { content: '\e816'; } /* '' */
.icon-info-circled:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-attach:before { content: '\e819'; } /* '' */
.icon-lock:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-eye:before { content: '\e81c'; } /* '' */
.icon-tag-1:before { content: '\e81d'; } /* '' */
.icon-calendar:before { content: '\e81e'; } /* '' */
.icon-clock:before { content: '\e81f'; } /* '' */
.icon-trash-empty:before { content: '\e820'; } /* '' */
.icon-folder-open:before { content: '\e821'; } /* '' */
.icon-folder-1:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-cog-alt:before { content: '\e824'; } /* '' */
.icon-wrench:before { content: '\e825'; } /* '' */
.icon-calendar-1:before { content: '\e826'; } /* '' */
.icon-login-1:before { content: '\e827'; } /* '' */
.icon-logout-1:before { content: '\e828'; } /* '' */
.icon-volume-off:before { content: '\e829'; } /* '' */
.icon-volume-down:before { content: '\e82a'; } /* '' */
.icon-volume-up:before { content: '\e82b'; } /* '' */
.icon-block:before { content: '\e82c'; } /* '' */
.icon-resize-full-1:before { content: '\e82d'; } /* '' */
.icon-resize-small-1:before { content: '\e82e'; } /* '' */
.icon-list-alt:before { content: '\e82f'; } /* '' */
.icon-briefcase:before { content: '\e830'; } /* '' */
.icon-chat:before { content: '\e831'; } /* '' */
.icon-comment:before { content: '\e832'; } /* '' */
.icon-bell:before { content: '\e833'; } /* '' */
.icon-attention:before { content: '\e834'; } /* '' */
.icon-doc:before { content: '\e835'; } /* '' */
.icon-print:before { content: '\e836'; } /* '' */
.icon-edit:before { content: '\e837'; } /* '' */
.icon-pencil-1:before { content: '\e838'; } /* '' */
.icon-ccw:before { content: '\e839'; } /* '' */
.icon-cw:before { content: '\e83a'; } /* '' */
.icon-chart-bar:before { content: '\e83b'; } /* '' */
.icon-chart-pie:before { content: '\e83c'; } /* '' */
.icon-chart-area:before { content: '\e83d'; } /* '' */
.icon-spin3:before { content: '\e83e'; } /* '' */
.icon-tags:before { content: '\e83f'; } /* '' */
.icon-bookmark:before { content: '\e840'; } /* '' */
.icon-upload:before { content: '\e841'; } /* '' */
.icon-download:before { content: '\e842'; } /* '' */
.icon-lock-1:before { content: '\e843'; } /* '' */
.icon-eye-1:before { content: '\e844'; } /* '' */
.icon-eye-off:before { content: '\e845'; } /* '' */
.icon-asterisk:before { content: '\e846'; } /* '' */
.icon-chart-bar-1:before { content: '\e847'; } /* '' */
.icon-credit-card:before { content: '\e848'; } /* '' */
.icon-book-1:before { content: '\e849'; } /* '' */
.icon-flash-1:before { content: '\e84a'; } /* '' */
.icon-down-dir:before { content: '\e84b'; } /* '' */
.icon-up-dir:before { content: '\e84c'; } /* '' */
.icon-left-dir:before { content: '\e84d'; } /* '' */
.icon-search:before { content: '\e84e'; } /* '' */
.icon-down-big:before { content: '\e84f'; } /* '' */
.icon-left-big:before { content: '\e850'; } /* '' */
.icon-right-big:before { content: '\e851'; } /* '' */
.icon-up-big:before { content: '\e852'; } /* '' */
.icon-right-dir:before { content: '\e853'; } /* '' */
.icon-shuffle:before { content: '\e854'; } /* '' */
.icon-arrows-cw:before { content: '\e855'; } /* '' */
.icon-resize-horizontal:before { content: '\e856'; } /* '' */
.icon-resize-vertical:before { content: '\e857'; } /* '' */
.icon-phone:before { content: '\e858'; } /* '' */
.icon-down-open:before { content: '\e859'; } /* '' */
.icon-left-open:before { content: '\e85a'; } /* '' */
.icon-right-open:before { content: '\e85b'; } /* '' */
.icon-dot-3:before { content: '\e85c'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared-1:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared-1:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-box-1:before { content: '\f187'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area-1:before { content: '\f1fe'; } /* '' */
.icon-chart-pie-1:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-videocam:before { content: '📅'; } /* '\1f4c5' */
.icon-plus-1:before { content: '📎'; } /* '\1f4ce' */
.icon-ok:before { content: '🔒'; } /* '\1f512' */
.icon-cancel-1:before { content: '🔓'; } /* '\1f513' */
.icon-home-1:before { content: '🕔'; } /* '\1f554' */
