{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended",
    "prettier",
  ],
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    // https://github.com/eslint/eslint/issues/14538
    "indent": 0,
    "no-console": 0,
    "import/namespace": 0,
    "import/named": 0,
    "import/no-empty-named-blocks": "error",
    "vue/multi-word-component-names": 0,
    "vue/require-explicit-emits": 0,
    "vue/attribute-hyphenation": 0,
    "vue/v-on-event-hyphenation": 0,
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "never"],
  },
}
